/*.lnk
/demos/FBX/*.fbx
/demos/blend4.0/AllActions.blend
/demos/blend4.0/*.blend1
/demos/blend4.0/demo_v4.0.blend
/demos/blender4.5.5 LTS/pre testings/!_Demo4000_Eagle_Blender_4.5.5 - BAK27_PRE_TESTING.blend
/demos/blender4.5.5 LTS/pre testings/!_Demo4000_Horse_Blender_4.5.5 - BAK24_PRE_TESTING.blend
/demos/blender4.5.5 LTS/pre testings/!_DemoC000_Slave_Blender_4.5.5 - BODY-BAK08.blend
/demos/test bams/type b000/!_HorseG1.ini
/demos/test bams/type b000/!_HorseG1E.ini
/demos/test bams/type c000/!_SlaveG1.ini
/demos/test bams/type c000/!_SlaveG1E.ini
/demos/blender4.5.5 LTS/pre testings/!_Demo4000_Sleeping_Fat_Man_Blender_4.5.5 - BODY-BAK13.blend
/demos/test bams/type 4000/!_SleepingFatMan.ini
/demos/blender4.5.5 LTS/pre testings/!_Demo4000_Sleeping_Fat_Man_Blender_4.5.5 - BAK30_PRE_TESTING.blend
/demos/test bams/type 4000/ARE/AR0021.ARE
/demos/test bams/type 4000/ARE/AR0156.ARE
/demos/test bams/type 4000/ARE/AR0164.ARE
/demos/test bams/type 4000/ARE/AR0170.ARE
/demos/test bams/type 4000/ARE/AR0618.ARE
/demos/test bams/type 4000/ARE/AR0716.ARE
/demos/test bams/type 4000/ARE/AR0804.ARE
/demos/test bams/type 4000/ARE/AR2607.ARE
/demos/test bams/type 4000/ARE/AR3303.ARE
/demos/test bams/type 4000/ARE/AR3324.ARE
/demos/test bams/type 4000/ARE/AR3342.ARE
/demos/test bams/type 4000/ARE/AR3348.ARE
/demos/test bams/type 4000/ARE/AR4902.ARE
/demos/test bams/type 4000/CRE/SLEEPFAT.CRE
/demos/blender4.5.5 LTS/pre testings
/demos/blender4.0(legacy)/*.blend1
*.blend1
*.png
