/*.lnk
/demos/FBX/*.fbx
/demos/blend4.0/AllActions.blend
/demos/blend4.0/*.blend1
/demos/blend4.0/demo_v4.0.blend
/demos/blender4.5.5 LTS/pre testings/!_Demo4000_Eagle_Blender_4.5.5 - BAK27_PRE_TESTING.blend
/demos/blender4.5.5 LTS/pre testings/!_Demo4000_Horse_Blender_4.5.5 - BAK24_PRE_TESTING.blend
